.flex {
  display: flex;
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.text-m {
  font-size: 20px;
}

.text-s {
  font-size: 16px;
}

.secondary {
  color: var(--secondary-text);
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.ml-3 {
  margin-left: 24px;
}

.w-100 {
  width: 100%;
}

.gap-3 {
  gap: 24px;
}
