input[type="text"], .input {
    border: none;
    background-color: var(--background);
    border-radius: 8px;
    min-height: 40px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-text);
}
